<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookline - Profile</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
</head>
<body>
    <div class="content">
        <h2>
            Password change successful
        </h2>
        <h4>
            Check your email and try to sign in.
        </h4>
        <br>
        <br>
        <a th:href="@{/login}">
            <button>Login</button>
        </a>
    </div>
</body>
</html>