<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookline - Profile</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
</head>
<body>
<img class="header-logo" th:src="@{/img/bookline_logo.png}" style="height: 6.0rem; padding-left: 20px; padding-top: 5px">
<ul>
    <li><a th:href="@{/}">Home</a></li>
    <li><a th:href="@{/books}">Browse</a></li>
    <li><a th:href="@{/about}">About</a></li>
    <li class="float-right-nav">
        <a th:href="@{/profile/my_account}">Profile</a>
    </li>
    <li class="float-right-nav">
        <a th:href="@{/cart}">Cart</a>
    </li>
</ul>
    <div class="content">
        <h2>
            My Account
        </h2>
        <div class="side-menu">
            <a th:href="@{/profile/my_account}">My Account</a>
            <a th:href="@{/wishlist}">Wishlist</a>
            <a th:href="@{/history}">History</a>
            <a th:href="@{/logout}">Logout</a>
        </div>
        <div class="main-content">
            <h3>
                Account Details
            </h3>
            <table>
                <tr>
                    <th>
                        Name
                    </th>
                    <td th:text="${user.userName}"></td>
                </tr>
                <tr>
                    <th>
                        Email
                    </th>
                    <td th:text="${user.userEmail}"></td>
                </tr>
                <tr>
                    <th>
                        Birthdate
                    </th>
                    <td th:text="${dateOfBirth}"></td>
                </tr>
                <tr>
                    <th>
                        Member since
                    </th>
                    <td th:text="${dateRegistered}"></td>
                </tr>
            </table>
            <a th:href="@{/change_password}">
                <button>Change Password</button>
            </a>
            <a th:href="@{/change_email}">
                <button>Change Email</button>
            </a>
        </div>
    </div>
</body>
</html>