<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookline</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="css/style.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/header.css}" href="css/header.css" type="text/css">
</head>
<body>
<img class="header-logo" th:src="@{/img/bookline_logo.png}" style="height: 6.0rem; padding-left: 20px; padding-top: 5px">
<ul>
    <li><a th:href="@{/}">Home</a></li>
    <li><a th:href="@{/books}">Browse</a></li>
    <li><a href="#">About</a></li>
    <li class="float-right-nav">
        <a th:href="@{/profile/my_account}">Profile</a>
    </li>
    <li class="float-right-nav">
        <a th:href="@{/cart}">Cart</a>
    </li>
</ul>
<br>
<div class="content">
    <h2 th:text="'Books by ' + ${author}"></h2>
    <div class="wrapper" th:each="book: ${books}">
        <div class="book-image">
            <img th:src="${book.bookImage}">
        </div>
        <div class="book-info">
            <div class="book-info-text">
                <h4 th:text="${book.bookTitle}"></h4>
                <a th:text="${book.bookAuthor}" th:href="@{/books/(author=${book.bookAuthor})}"></a>
                <span th:text="' | '"></span>
                <a th:text="${book.bookCategory}" th:href="@{/books/category/{category}(category=${book.bookCategory})}"></a>
                <br>
                <b th:text="'Rp. ' + ${#numbers.formatDecimal(book.bookPrice, 0, 'POINT', 0, 'COMMA')}"></b>
            </div>
            <a th:href="@{/books/{title}(title=${book.bookTitle})}">
                <button>View</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>