<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Bookline - Cart</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/cart.css}" type="text/css">
</head>
<body>
    <img class="header-logo" th:src="@{/img/bookline_logo.png}" style="height: 6.0rem; padding-left: 20px; padding-top: 5px">
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/books}">Browse</a></li>
        <li><a href="#">About</a></li>
        <li th:if="${auth != null}" class="float-right-nav">
            <a th:href="@{/profile/my_account}">Profile</a>
        </li>
        <li th:if="${auth != null}" class="float-right-nav">
            <a th:href="@{/Cart}"></a>
        </li>
        <li th:if="${auth == null}" class="float-right-nav">
            <a th:href="@{/login}">Login</a>
        </li>
    </ul>
    <div class="content">
        <h2>
            My Cart
        </h2>
        <p th:if="${message != null}" th:text="${message}"></p>
        <div class="wrapper" th:each="cart: ${cartList}">
            <div class="book-image">
                <img th:src="${cart.book.bookImage}">
            </div>
            <div class="book-info">
                <div class="book-info-text">
                    <a th:href="@{/books/{title}(title=${cart.book.bookTitle})}" style="color: #606c76; width: fit-content">
                        <h4 th:text="${cart.book.bookTitle}"></h4>
                    </a>
                    <a th:text="${cart.book.bookAuthor}" th:href="@{/books/(search=${cart.book.bookAuthor})}"></a>
                    <span th:text="' | '"></span>
                    <a th:text="${cart.book.bookCategory}" th:href="@{/books/(search=${cart.book.bookCategory})}"></a>
                    <br>
                    <b th:text="'Rp. ' + ${#numbers.formatDecimal(cart.book.bookPrice * cart.quantity, 0, 'POINT', 0, 'COMMA')}"></b>
                    <span th:text="' | Quantity: ' + ${cart.quantity}"></span>
                </div>
                <a th:href="@{/cart/change_quantity/{title}(title=${cart.book.bookTitle})}">
                    <button>Change Quantity</button>
                </a>
            </div>
        </div>
        <br>
        <div style="bottom: 0; display: block; width: 100%; float: left">
            <p>
                Total:
                <b th:text="'Rp. ' + ${#numbers.formatDecimal(totalPrice, 0, 'POINT', 0, 'POINT')}" th:if="${totalPrice != null}"></b>
                <b th:text="'Rp. 0'" th:if="${totalPrice == null}"></b>
            </p>
            <a th:href="@{/checkout}" th:if="${totalPrice != null}">
                <button>Checkout</button>
            </a>
        </div>
    </div>
</body>
</html>